body{
    background-color: var(--primary-900);
}
.main-container{
    background-color: var(--primary-800);
}
p, h1, h2, a, i{
    color: white;
}

.register, .newsletter{
    border: var(--secondary-600) 2px solid;
    color: var(--secondary-50);
}
.register:hover, .newsletter:hover{
    background-color: var(--primary-700);
    transition: 1s;
}
.register:active, .newsletter:active{
    background-color: var(--primary-600);
    transition: 0.25s;
}


/* Headings */
.headings h1{
    color: var(--secondary-600);
}



/* Login */
p.username-text{
    color: var(--secondary-600);
}
input[type="text"]{
    background-color: var(--primary-800);
    border-bottom-color: var(--secondary-100);
    color: white;
}
input[type="submit"]{
    background-color: var(--secondary-700);
    color: var(--primary-800);
}


/* Alternative login */
.alt-login p{
    color: white;
}