@import '../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .FAQ-container{
        max-width: 720px;
        border-radius: 25px;
        margin: auto;
        margin-top: 2%;
        .Header-spacer{
            padding: 8% 0 5% 0;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .FAQ-container{
        display: block;
        height: 80%;
        width: 60%;
        border-radius: 25px;
        padding: 0 10px 30px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 8% 0 5% 0;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .FAQ-container{
        display: block;
        min-height: 90%;
        width: 70%;
        border-radius: 20px;
        padding: 0 10px 30px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 6.5% 0 5% 0;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .FAQ-container{
        display: block;
        min-height: 110%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 30px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 6% 0 8% 0;
        }
        
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .FAQ-container{
        display: block;
        min-height: 90%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 0px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 15% 0 8% 0;
        }
    }
}