@import '../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .Two-factor-container{
        max-width: 1030px;
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        grid-gap: 40px;
        margin: 2% auto auto auto;
        .lhs{
            height: 420px;
            border-radius: 25px;
        }
        .rhs{
            border-radius: 25px;
            padding-bottom: 80px;
            .Header-spacer{
                padding: 8% 0 8% 0;
            }
            .para{
                padding-bottom: 30px;
                text-align: center;
            }
            .form-spacer{
                width: 50%;
                margin: auto;
            }
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    
}