@import '../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .remember-me{
        display: grid;
        grid-gap: 0%;
        justify-content: center;
        margin: auto;
        .rememberMe-spacer {
            display: inline;
            margin: 0 3px 0 3px;
        }
        .checkbox{
            vertical-align: middle;
            height: 15px;
            width: 15px;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .remember-me{
        display: grid;
        grid-gap: 0%;
        justify-content: center;
        margin: auto;
        .rememberMe-spacer {
            display: inline;
            margin: 0 3px 0 3px;
        }
        .checkbox{
            vertical-align: middle;
            height: 15px;
            width: 15px;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .remember-me{
        display: grid;
        grid-gap: 0%;
        justify-content: center;
        margin: auto;
        .rememberMe-spacer {
            display: inline;
            margin: 0 3px 0 3px;
        }
        .checkbox{
            vertical-align: middle;
            height: 15px;
            width: 15px;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .remember-me{
        display: grid;
        grid-gap: 0%;
        justify-content: center;
        margin: auto;
        .rememberMe-spacer {
            display: inline;
            margin: 0 3px 0 3px;
        }
        .checkbox{
            vertical-align: middle;
            height: 15px;
            width: 15px;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .remember-me{
        display: grid;
        grid-gap: 0%;
        justify-content: center;
        margin: auto;
        .rememberMe-spacer {
            display: inline;
            margin: 0 3px 0 3px;
        }
        .checkbox{
            vertical-align: middle;
            height: 15px;
            width: 15px;
        }
    }
}
