@import '../../variables';

/* All */
.select-field{
    width: 100%;
    margin: auto;
    .field-text{
        display: block;
    }
    select{
        width: 100%;
        option{
            &:hover{
                background-color: #8e918f;
                color: white;
            }
        }
    }
}