@import '../../variables';

.submit-btn{
    width: 100%;
    margin: auto;
    .strong-btn {
        width: 100%;
        display: block;
        padding: 8px;
        border-radius: 15px;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }
}