@import '../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .text-field{
        width: 100%;
        margin: auto;
        input[type="text"]{
            height: 25px;
            width: 100%;
            display: block;
            padding-left: 10px;
            
            border:none;
            border-bottom: 1px solid;
            outline: none;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .text-field{
        width: 100%;
        margin: auto;
        input[type="text"]{
            height: 25px;
            width: 100%;
            display: block;
            padding-left: 10px;
            
            border:none;
            border-bottom: 1px solid;
            margin-top: 10px;
            outline: none;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .text-field{
        width: 100%;
        margin: auto;
        input[type="text"]{
            height: 25px;
            width: 100%;
            display: block;
            padding-left: 10px;
            
            border:none;
            border-bottom: 1px solid;
            margin-top: 10px;
            outline: none;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .text-field{
        width: 100%;
        margin: auto;
        input[type="text"]{
            height: 25px;
            width: 100%;
            display: block;
            padding-left: 10px;
            
            border:none;
            border-bottom: 1px solid;
            margin-top: 10px;
            outline: none;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .text-field{
        width: 100%;
        margin: auto;
        input[type="text"]{
            height: 25px;
            width: 100%;
            display: block;
            padding-left: 10px;
            
            border:none;
            border-bottom: 1px solid;
            margin-top: 10px;
            outline: none;
        }
    }
}
