@import '../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .Test-container{
        max-width: 720px;
        border-radius: 25px;
        margin: 2% auto 2% auto;
        padding-bottom: 70px;
        .Header-spacer{
            padding: 8% 0 5% 0;
            text-align: center;
        }
        .view-answers-spacer{
            padding-bottom: 70px;
        }
        .form-width {
            width: 50%;
            margin: auto;
            // overflow-x: hidden;
            .text-spacer{
                // display: grid;
                // grid-template-columns: auto 100%;
                // grid-gap: 10px;
                .text-field{
                margin-bottom: 30px;
            }
            }
            
        }
        .RegisterForm-spacer{
            padding: 30px;
        }
        .Register-done-spacer{
            width: 70%;
            margin: auto;
            padding-bottom: 40px;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .Test-container{
        height: 90%;
        width: 60%;
        border-radius: 25px;
        padding: 0 10px 0px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 8% 0 5% 0;
            text-align: center;
        }
        .view-answers-spacer{
            padding-bottom: 70px;
        }
        .form-width {
            width: 50%;
            margin: auto;
        }
        .RegisterForm-spacer{
            padding: 20px;
        }
        .Register-done-spacer{
            width: 70%;
            margin: auto;
            padding-bottom: 40px;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .Test-container{
        height: 90%;
        width: 70%;
        border-radius: 20px;
        padding: 0 10px 40px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 6.5% 0 5% 0;
            text-align: center;
        }
        .view-answers-spacer{
            padding-bottom: 60px;
        }
        .form-width {
            width: 60%;
            margin: auto;
        }
        .RegisterForm-spacer{
            padding: 5px;
        }
        .Register-done-spacer{
            width: 70%;
            margin: auto;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .Test-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 30px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 6% 0 5% 0;
            text-align: center;
        }
        .view-answers-spacer{
            padding-bottom: 60px;
        }
        .form-width {
            width: 60%;
            margin: auto;
        }
        .RegisterForm-spacer{
            padding: 20px;
        }
        .Register-done-spacer{
            width: 80%;
            margin: 20px auto auto auto;
            padding-bottom: 50px;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .Test-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 0px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 15% 0 8% 0;
            text-align: center;
        }
        .view-answers-spacer{
            padding-bottom: 50px;
        }
        .form-width {
            width: 70%;
            margin: auto;
        }
        .RegisterForm-spacer{
            padding: 20px;
        }
        .Register-done-spacer{
            width: 80%;
            margin: 40px auto auto auto;
            padding-bottom: 40px;
        }
    }
}