<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="../../root colours.css">
    <link rel="stylesheet" href="../../Fonts.css">
    <link rel="stylesheet" href="dark2.css">

    <link rel="stylesheet" href="../../components/dark/body.css">
    
    <link rel="stylesheet" href="Containers.css">
    <link rel="stylesheet" href="headings.css">
    <link rel="stylesheet" href="links.css">
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="alternate logins.css">

    <link rel="stylesheet" href="../../components/dark/buttons/strong-btn.css">
    <link rel="stylesheet" href="../../components/dark/buttons/weak-btn.css">
    <link rel="stylesheet" href="../../components/dark/buttons/Facebook-btn.css">
    <link rel="stylesheet" href="../../components/dark/buttons/Google-btn.css">
    <link rel="stylesheet" href="../../components/dark/buttons/Twitter-btn.css">
    <link rel="stylesheet" href="../../components/dark/inputs/underline-input.css">
</head>
<body>
    <div class="main-container">
        <div class="headings">
            <a href=""><h1>Conjugat</h1></a>
            <h2>Helping you to perfect your verb conjugations</h2>
        </div>
    
        <div class="reset-username">
            <form method="post">
                <input type="submit" value="Choose a different username" class="register weak-btn" name="new-username">
            </form>
        </div>
    
        <!-- <div>
            <p>Your password is incorrect</p>
        </div> -->
        
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                <div class="field">
                    <p class="field-text">Password</p>
                    <input type="password" name="" id="" class="underline-input">
                </div>
                
                <div class="totp-div"></div>
                <div class="field">
                    <p class="field-text">TOTP</p>
                    <input type="text" name="" id="" class="underline-input">
                </div>
                
                <div class="remember-me">
                    <input type="checkbox" name="" id="">
                    <label class="field-check">Remember me</label>
                </div>
               
                
                <div class="password-reset">
                    <a href="{% url 'password_reset' %}">
                        Forgotten your password?
                    </a>
                </div>
                
                <div class="submit">
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" class="strong-btn" value="Continue">
                </div>
            </form>
        </div>
    </div>
</body>