// Screen sizes
$TV-breakpoint: 1201px;
$PC-max-breakpoint: 1200px;
$PC-min-breakpoint: 1025px;
$Laptop-max-breakpoint:1024px;
$Laptop-min-breakpoint: 769px;
$Tablet-max-breakpoint: 768px;
$Tablet-min-breakpoint: 481px;
$Mobile-max-breakpoint: 480px;
$Mobile-min-breakpoint: 320px;