/* TV to tablets */
@media only screen and (min-width: 481px){
    /* Nav */
    nav{
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }
    
    nav .image{
        display: none;
    }
    nav .links, .settings{
        display: flex;
        justify-content: space-between;
    }
}

/* TV screens */
@media only screen and (min-width: 1201px){
    nav{
        width: 80%;
        margin-top: 3%;
        grid-template-columns: 0.8fr 2.2fr 2fr 1fr;
        grid-gap: 10%;
        margin-bottom: 70px;
        padding-top: 20px;
    }
    nav .login{
        width: 60%;
        align-self: end;
        border-radius: 8px;
        padding: 5px 0;
    }
}

/* PC */
@media only screen and (max-width: 1200px) and (min-width: 1025px){
    nav{
        width: 90%;
        grid-template-columns: 1.6fr 2.2fr 2fr 2fr;
        grid-gap: 6%;
        margin-bottom: 70px;
        padding-top: 20px;
    }
    nav .login{
        width: 60%;
        align-self: end;
        border-radius: 8px;
        padding: 5px 0;
    }
}

/* Laptops */
@media only screen and (max-width: 1024px) and (min-width: 769px){
    nav{
        width: 90%;
        grid-template-columns: 0.8fr 2.2fr 2fr 1fr;
        grid-gap: 4%;
        margin-bottom: 70px;
        padding-top: 20px;
    }
    nav .login{
        width: 60%;
        align-self: end;
        border-radius: 8px;
        padding: 5px 0;
    }
}

/* Tablets */
@media only screen and (max-width: 768px) and (min-width: 481px){
    nav{
        width: 95%;
        grid-template-columns: 0.8fr 2.2fr 2.1fr 0.6fr;
        grid-gap: 2%;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    nav .login{
        width: 100%;
        align-self: end;
        border-radius: 8px;
        padding: 5px 0;
    }
}

/* Mobiles */
@media only screen and (max-width: 480px) and (min-width: 320px){
    nav{
        width: 95%;
        grid-template-columns: 0.8fr 2.2fr 2.1fr 0.6fr;
        grid-gap: 2%;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    nav .permanent{
        display: grid;
        grid-template-columns: 20px 1fr;
    }
}