// Serif
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display&family=Roboto+Slab&display=swap');

$Merriweather: 'Merriweather', serif;
$Playfair-Display: 'Playfair Display', serif;
$Roboto-Slab: 'Roboto Slab', serif;
$Times-New-Roman: "Times New Roman", Times, serif;
$Georgia: "Georgia", serif;

// Sans Serif
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');
$Lato: 'Lato', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Open-Dyslexic: 'Open-Dyslexic', sans-serif;
$Arial: 'Arial', sans-serif;
$Helvetica: 'Helvetica', sans-serif;

// Handwriting
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Dancing+Script&family=Indie+Flower&family=Kalam&display=swap');
$Amatic-SC: 'Amatic SC', cursive;
$Caveat: 'Caveat', cursive;
$Dancing-Script: 'Dancing Script', cursive;
$Indie-Flower: 'Indie Flower', cursive;
$Kalam: 'Kalam', cursive;

// Monotypes
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono&family=Source+Code+Pro&display=swap');
$Inconsolata: 'Inconsolata', monospace;
$Roboto-Mono: 'Roboto Mono', monospace;
$Source-Code-Pro: 'Source Code Pro', monospace;
$Courier-New: "Courier New", monospace;
$Monaco: "Monaco", monospace;