@import '../../variables';

/* All */
.Cancelled-container .retry-btn {
    width: 100%;
    padding: 8px 50px;
    border-radius: 15px;
    &:hover{
        cursor: pointer;
    }
}

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .Cancelled-container{
        max-width: 720px;
        border-radius: 25px;
        margin: 2% auto auto auto;
        padding: 2% 0 5% 0;
        .text-spacer {
            width: 70%;
            margin: 40px auto auto auto;
            text-align: center;
        }
        .btn-spacer {
            width: 100%;
            margin: 40px auto auto auto;
            text-align: center;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .Cancelled-container{
        height: 80%;
        width: 60%;
        border-radius: 25px;
        padding: 0 10px 0 10px;
        padding: 2% 0 5% 0;
        margin: 20px auto 20px auto;
        .text-spacer {
            width: 70%;
            margin: 40px auto auto auto;
            text-align: center;
        }
        .btn-spacer {
            width: 100%;
            margin: 40px auto auto auto;
            text-align: center;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .Cancelled-container{
        display: block;
        min-height: 90%;
        width: 70%;
        border-radius: 20px;
        padding: 2% 0 5% 0;
        margin: 20px auto 0px auto;
        .text-spacer {
            width: 70%;
            margin: 35px auto auto auto;
            text-align: center;
        }
        .btn-spacer {
            width: 100%;
            margin: 40px auto auto auto;
            text-align: center;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .Cancelled-container{
        display: block;
        min-height: 110%;
        width: 85%;
        border-radius: 15px;
        padding: 2% 10px 0px 10px;
        margin: 20px auto 20px auto;
        .text-spacer {
            width: 70%;
            margin: 20px auto auto auto;
            text-align: center;
        }
        .btn-spacer {
            width: 100%;
            margin: 40px auto auto auto;
            text-align: center;
        }
        
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .Cancelled-container{
        display: block;
        min-height: 90%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 0px 10px;
        margin: 20px auto 20px auto;
        .text-spacer {
            width: 70%;
            margin: 20px auto auto auto;
            text-align: center;
        }
        .btn-spacer {
            width: 100%;
            margin: 40px auto auto auto;
            text-align: center;
        }        
    }
}