/* TV screens */
@media only screen and (min-width: 1201px){
    .login-form{
        display: grid;
        margin: auto;
    }
    .login-form div{
        width: 60%;
        margin: auto;
    }
    .field{
        margin-bottom: 15px;
    }
    .field-text{
        margin-bottom: 10px;
        color: var(--shades-0);
    }
    .login-form input{
        width: 100%;
        display: block;
        padding-left: 10px;
    }
    input[type="text"]{
        height: 25px;
        border:none;
        border-bottom: 1px solid;
        outline: none;
    }
    .login-form input[type="text"], .login-form input[type="password"] {
        margin-bottom: 20px;
    }
    .submit input[type="submit"]{
        padding: 10px 50px;
        border-radius: 15px;
        margin-bottom: 60px;
    }
    .submit input[type="submit"]:hover{
        cursor: pointer;
    }
}

/* PC */
@media only screen and (max-width: 1200px) and (min-width: 1025px){
    /* login form */
    .login-form{
        display: grid;
        margin: auto;
    }
    .login-form div{
        width: 60%;
        margin: auto;
    }
    .field-text{
        margin-bottom: 15px;
        color: var(--shades-0);
    }
    
    input{
        width: 100%;
        display: block;
    }
    input[type="text"]{
        height: 20px;
        border:none;
        border-bottom: 1px solid;
        padding: 0px 10px;
        outline: none;
        margin-bottom: 50px;
    }
    .submit input[type="submit"]{
        padding: 10px 50px;
        border-radius: 15px;
        margin-bottom: 60px;
    }
    .submit input[type="submit"]:hover{
        cursor: pointer;
    }
}

/* Laptops */
@media only screen and (max-width: 1024px) and (min-width: 769px){
    /* login form */
    .login-form{
        display: grid;
        margin: auto;
    }
    .login-form div{
        width: 60%;
        margin: auto;
    }
    .field-text{
        margin-bottom: 15px;
        color: var(--shades-0);
    }
    
    input{
        width: 100%;
        display: block;
    }
    input[type="text"]{
        height: 20px;
        border:none;
        border-bottom: 1px solid;
        padding: 0px 10px;
        outline: none;
        margin-bottom: 30px;
    }
    .submit input[type="submit"]{
        padding: 10px 50px;
        border-radius: 15px;
        margin-bottom: 40px;
    }
    .submit input[type="submit"]:hover{
        cursor: pointer;
    }
}

/* Tablets */
@media only screen and (max-width: 768px) and (min-width: 481px){

}

/* Mobiles */
@media (max-width: 480px) and (min-width:320px){
    
}