.headings h1{
    color: var(--secondary-600);
}

.headings h2{
    color: var(--secondary-100);
    color: var(--shades-0)
}

/* TV screens */
@media only screen and (min-width: 1201px){
    .headings{
        text-align: center;
        padding: 8% 0% 5% 0%;
    }
    .headings h1{
        margin-bottom: 15px;
    }
}

/* PC */
@media only screen and (max-width: 1200px) and (min-width: 1025px){
    .headings{
        text-align: center;
        padding: 8% 0% 5% 0%;
    }
    .headings h1{
        margin-bottom: 15px;
    }
}

/* Laptops */
@media only screen and (max-width: 1024px) and (min-width: 769px){
    .headings{
        text-align: center;
        padding: 5% 0% 3% 0%;
    }
    .headings h1{
        margin-bottom: 15px;
    }
}

/* Tablets */
@media only screen and (max-width: 768px) and (min-width: 481px){

}

/* Mobiles */
@media (max-width: 480px) and (min-width:320px){
    
}