@import '../../variables';

/* All */
.Login-body {
    min-height: 100vh;
}

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .Login-username-container-spacer{
        height: 50px;
    }
    .Login-username-container{
        max-width: 720px;
        border-radius: 25px;
        margin: auto;
        // margin-top: 2%;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .UsernameLinks-spacer{
            padding-bottom: 90px;
        }
        .UsernameForm-spacer{
            margin-bottom: 60px;
        }
    }
    .Login-password-container-spacer{
        height: 50px;
    }
    .Login-password-container{
        max-width: 720px;
        border-radius: 25px;
        margin: auto;
        margin-top: 2%;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 90px;
        }
        .PasswordForm-spacer{
            height: 60px;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .Login-container-spacer{
        height: 50px;
    }
    .Login-username-container{
        height: 80%;
        width: 60%;
        border-radius: 25px;
        position: absolute;
        top: 0;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .UsernameLinks-spacer{
            padding-bottom: 90px;
        }
        .UsernameForm-spacer {
            margin-bottom: 60px;
        }
    }
    .Login-password-container-spacer{
        height: 50px;
    }
    .Login-password-container{
        height: 80%;
        width: 60%;
        border-radius: 25px;
        position: absolute;
        top: 0;
        bottom: 15%;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 90px;
        }
        .PasswordForm-spacer{
            height: 60px;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .Login-container-spacer{
        height: 50px;
    }
    .Login-username-container{
        height: 90%;
        width: 70%;
        border-radius: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 5%
        }
        .Header-spacer-bottom{
            padding-bottom: 3%;
        }
        .UsernameLinks-spacer{
            padding-bottom: 80px;
        }
        .UsernameForm-spacer{
            margin-bottom: 60px;
        }
    }
    .Login-password-container-spacer{
        height: 50px;
    }
    .Login-password-container{
        height: 90%;
        width: 70%;
        border-radius: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 3%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 90px;
        }
        .PasswordForm-spacer{
            height: 50px;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .Login-container-spacer{
        height: 50px;
    }
    .Login-username-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 4%
        }
        .Header-spacer-bottom{
            padding-bottom: 2%;
        }
        .UsernameLinks-spacer{
            padding-bottom: 70px;
        }
        .UsernameForm-spacer{
            margin-bottom: 60px;
        }
    }
    .Login-password-container-spacer{
        height: 50px;
    }
    .Login-password-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 90px;
        }
        .PasswordForm-spacer{
            height: 50px;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .Login-container-spacer{
        height: 50px;
    }
    .Login-username-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 3%
        }
        .Header-spacer-bottom{
            padding-bottom: 2%;
        }
        .UsernameLinks-spacer {
            padding-bottom: 60px;
        }
        .UsernameForm-spacer{
            margin-bottom: 50px;
        }
    }
    .Login-password-container-spacer{
        height: 50px;
    }
    .Login-password-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 90px;
        }
        .PasswordForm-spacer{
            height: 40px;
        }
    }
}