@import '../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .Login-password-container{
        max-width: 720px;
        border-radius: 25px;
        margin: auto;
        margin-top: 2%;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 70px;
        }
        .form-width {
            width: 50%;
            margin: auto;
        }
        .PasswordForm-spacer {
            height: 40px;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .Login-password-container{
        height: 70%;
        width: 60%;
        border-radius: 25px;
        position: absolute;
        top: 0;
        bottom: 15%;
        left: 0;
        right: 0;
        margin: auto;
        .Header-spacer-top{
            padding-top: 8%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            margin-bottom: 70px;
        }
        .form-width {
            width: 50%;
            margin: auto;
        }
        .PasswordForm-spacer {
            height: 40px;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .Login-password-container{
        display: block;
        min-height: 90%;
        width: 70%;
        border-radius: 20px;
        padding: 0 10px 30px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer-top{
            height: 40px;
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 60px;
        }
        .PasswordForm-spacer{
            height: 50px;
        }
        .form-width {
            width: 60%;
            margin: auto;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .Login-password-container{
        display: block;
        min-height: 150%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 30px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer-top{
            padding-top: 6%;
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 60px;
        }
        .PasswordForm-spacer{
            height: 50px;
        }
        .form-width {
            width: 60%;
            margin: auto;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .Login-password-container{
        display: block;
        height: 90%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 0px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer-top{
            padding-top: 15%
        }
        .Header-spacer-bottom{
            padding-bottom: 5%;
        }
        .ResetUsername-spacer{
            padding-bottom: 60px;
        }
        .PasswordForm-spacer{
            height: 40px;
        }
        .form-width {
            width: 70%;
            margin: auto;
        }
    }
}