@import '../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .PasswordReset-container{
        max-width: 720px;
        border-radius: 25px;
        margin: auto;
        margin-top: 2%;
        padding-bottom: 40px;
        .Header-spacer{
            padding: 8% 0 5% 0;
        }
        .RegisterLinks-spacer{
            padding-bottom: 70px;
        }
        .form-width {
            width: 50%;
            margin: auto;
        }
        .PasswordResetForm-spacer{
            height: 60px;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .PasswordReset-container {
        height: 50%;
        width: 60%;
        border-radius: 25px;
        padding: 0 10px 40px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer {
            padding: 8% 0 5% 0;
        }
        .RegisterLinks-spacer {
            padding-bottom: 90px;
        }
        .form-width {
            width: 50%;
            margin: auto;
        }
        .PasswordResetForm-spacer {
            height: 20px;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .PasswordReset-container{
        height: 90%;
        width: 70%;
        border-radius: 20px;
        padding: 0 10px 40px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer {
            padding: 6.5% 0 5% 0;
        }
        .RegisterLinks-spacer{
            padding-bottom: 60px;
        }
        .form-width {
            width: 60%;
            margin: auto;
        }
        .PasswordResetForm-spacer{
            height: 20px;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .PasswordReset-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 50px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding: 6.5% 0 5% 0;
            width: 80%;
            margin: auto;
        }
        .RegisterLinks-spacer{
            padding-bottom: 70px;
        }
        .form-width {
            width: 60%;
            margin: auto;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .PasswordReset-container{
        height: 90%;
        width: 85%;
        border-radius: 15px;
        padding: 0 10px 40px 10px;
        margin: 20px auto 20px auto;
        .Header-spacer{
            padding-top: 15%
        }
        .Header-spacer-bottom{
            padding-bottom: 8%;
        }
        .RegisterLinks-spacer {
            padding-bottom: 60px;
        }
        .form-width {
            width: 70%;
            margin: auto;
        }
        .PasswordResetForm-spacer{
            height: 50px;
        }
    }
}