/* https://developers.google.com/identity/branding-guidelines */
/* Roboto Medium font size 24 */

.Google-btn{
    background-color: #FFFFFF;
}
.Google-btn:active{
    background-color: #4285F4;
}
.Google-btn p{
    color: #000000;
}