.weak-btn{
    background-color: var(--primary-800);
    color: var(--secondary-100);
    border-color: var(--secondary-700);
    
}
.weak-btn:hover{
    background-color: var(--primary-700);
    transition: 0.6s;
}
.weak-btn:active{
    background-color: var(--primary-600);
    transition: 0.15s;
}