{% extends "base.html" %}
{% load static %}
{% block title %}Conjugat Log-in{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/themes/dark_theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/registration/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/registration/dark-theme.css' %}">
    <div class="headings">
        <a href="{% url 'landing' %}"><h1>Conjugat</h1></a>
        <h2>Helping you to perfect your verb conjugations</h2>
    </div>

    <div class="links">
        <a href="{% url 'register' %}"><div class="register weak-btn">Register</div></a>
        <a href="{% url 'newsletter:subscribe' %}"><div class="newsletter weak-btn">Newsletter</div></a>
    </div>

    {% if form.errors %}
        <p>
            Your username isn't recognised.
            Please try again.
        </p>
    {% endif %}
    
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            
            <div class="field">
                {% for field in form %}
                    <p class="field-text">{{ field.label }}</p>
                    {{ field }}
                {% endfor %}
            </div>
            <div class="submit">
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" class="strong-btn" value="Continue">
            </div>
            
        </form>
    </div>

    <div class="alternatives">
        <p class="options">Or log-in via:</p>
        <div class="alt-login">
            <a href="{% url 'social:begin' 'facebook' %}"><div class="facebook"><p>Facebook</p></div></a>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><div class="google"><p>Google</p></div></a>
            <a href="{% url 'social:begin' 'twitter' %}"><div class="twitter"><p>Twitter</p></div></a>
        </div>
    </div>
{% endblock %}