{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/themes/dark_theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/registration/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/registration/dark-theme.css' %}">

    <div class="headings">
        <h1>Conjugat</h1>
        <h2>Helping you to perfect your verb conjugations</h2>
    </div>

    {% if form.errors %}
        <p>
            Your passwords do not match.
            Please try again.
        </p>
    {% endif %}

    {% if validlink %}
        <div class="reset-form">
            <form method="post">
                {% csrf_token %}
                
                <div class="field">
                    {% for field in form %}
                    <div class="spacer"></div>
                        <p class="field-text">{{ field.label }}</p>
                        {{ field }}
                        
                    {% endfor %}
                </div>


                <div class="submit">
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" class="strong-btn" value="Continue">
                </div>
            </form>
        </div>
    {% else %}
        <div class="invalid-reset">
            <div>
                <p>The password reset link was invalid, possibly because it has already been used.</p>
                <p>Please request a new password reset.</p>
                <a href="{% url 'login' %}"><div class="register weak-btn">Login</div></a>
            </div>
        </div>
    {% endif %}
{% endblock %}



    

    



    

    
            
        
            
