/* Box shadows */
@media only screen and (min-width: 1024px){
    .login{
        box-shadow: 0 0 20px 15px var(--secondary-900);
    }
    .login:hover{
        box-shadow: 0 0 20px 25px var(--secondary-900);
        transition: 1s;
    }
    a .join-now{
        box-shadow: 0 0 20px 25px var(--secondary-900);
    }
    a .join-now:hover{
        box-shadow: 0 0 20px 35px var(--secondary-900);
        transition: 1s;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .login{
        box-shadow: 0 0 20px 10px var(--secondary-900);
    }
    .login:hover{
        box-shadow: 0 0 20px 20px var(--secondary-900);
        transition: 1s;
    }
    a .join-now{
        box-shadow: 0 0 20px 15px var(--secondary-900);
    }
    a .join-now:hover{
        box-shadow: 0 0 20px 25px var(--secondary-900);
        transition: 1s;
    }
}


/* Containers */
body, .background{
    background-color: var(--primary-900);
}

.main-container{
    background-color: var(--primary-800);
}

/* Nav bar */
.logo{
    color: var(--shades-0);
}

nav a{
    color: var(--secondary-50);
}

nav a:hover{
    color: var(--secondary-700);
    transition: 1s;
}

.login{
    background-color: var(--secondary-700);
    color: var(--shades-1000);
}
.login:active{
    background-color: var(--secondary-600);
    transition: 0.1s;
}


/* Top left container */
.header h1{
    color: var(--secondary-600);
}
.header h2{
    color: var(--secondary-100);
}
.para{
    color: var(--secondary-50);
}
.dot-1{
    background-color: var(--secondary-600);
}
.dot-2{
    background-color: var(--secondary-300);
}


/* bottom container */
a .get-started{
    border: var(--secondary-600) 2px solid;
    color: var(--secondary-50);
}
a .get-started:hover{
    background-color: var(--primary-700);
    transition: 1s;
}
a .get-started:active{
    background-color: var(--primary-600);
    transition: 0.1s
}
a .get-started-mobile{
    border: var(--secondary-600) 2px solid;
    color: var(--secondary-50);
}
a .get-started-mobile:hover{
    background-color: var(--primary-700);
    transition: 1s;
}
a .get-started-mobile:active{
    background-color: var(--primary-600);
    transition: 0.1s
}

.third h1{
    color: var(--secondary-100);
}
.third p{
    color: var(--secondary-50);
}

a .join-now{
    background-color: var(--secondary-700);
    color: var(--primary-800);
}
a .join-now:active{
    background-color: var(--secondary-600);
    transition: 0.1s;
}


