/* Buttons */
.strong-btn{
    background-color: var(--secondary-700);
    color: var(--primary-800);
}
.strong-btn:hover{
    background-color: var(--secondary-800);
}
.strong-btn:active{
    background-color: var(--secondary-900);
}

.weak-btn{
    background-color: var(--primary-800);
    color: var(--secondary-100);
    border-color: var(--secondary-700);
    
}
.weak-btn:hover{
    background-color: var(--primary-700);
    transition: 0.6s;
}
.weak-btn:active{
    background-color: var(--primary-600);
    transition: 0.15s;
}


/* Headings */
.headings h1{
    color: var(--secondary-600);
}



/* Login */
p.username-text{
    color: var(--secondary-600);
}
input[type="text"],input[type="password"], input:-webkit-autofill, input:-webkit-autofill:focus{
    color-scheme: dark;
    background-color: var(--primary-800) !important;
    border-bottom-color: var(--secondary-100) !important;
    -webkit-text-fill-color: white !important;
}


/* Alternative login */
.alt-login p{
    color: white;
}