{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Your username isn't recognised.
            Please try again.
        </p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label }}{{ field }}
                </div>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Forgotten your password?
            </a>
        </p>
        <p>
            If you don't have an account <a href="{% url 'register' %}">register here</a>
        </p>
        <p>
            Alternatively, sign in via:
            <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
            <a href="{% url 'social:begin' 'twitter' %}">Twitter</a>
        </p>
    </div>
{% endblock %}