@import '../../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .login-form {
        display: grid;
        margin: auto;
        .password-spacer {
            margin-bottom: 20px;
        }
        .totp-top-spacer {
            margin-bottom: 50px;
        }
        .totp-bottom-spacer {
            margin-bottom: 20px;
        }
        .rememberMe-spacer {
            margin-bottom: 15px;
        }
        .passwordREset-spacer {
            margin-bottom: 40px;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .login-form {
        display: grid;
        margin: auto;
        .password-spacer {
            margin-bottom: 20px;
        }
        .totp-top-spacer {
            margin-bottom: 50px;
        }
        .totp-bottom-spacer {
            margin-bottom: 20px;
        }
        .rememberMe-spacer {
            margin-bottom: 15px;
        }
        .passwordREset-spacer {
            margin-bottom: 40px;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .login-form {
        display: grid;
        margin: auto;
        .password-spacer {
            margin-bottom: 20px;
        }
        .totp-top-spacer {
            margin-bottom: 50px;
        }
        .totp-bottom-spacer {
            margin-bottom: 20px;
        }
        .rememberMe-spacer {
            margin-bottom: 15px;
        }
        .passwordREset-spacer {
            margin-bottom: 40px;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .login-form {
        display: grid;
        margin: auto;
        .password-spacer {
            margin-bottom: 20px;
        }
        .totp-top-spacer {
            margin-bottom: 50px;
        }
        .totp-bottom-spacer {
            margin-bottom: 20px;
        }
        .rememberMe-spacer {
            margin-bottom: 15px;
        }
        .passwordREset-spacer {
            margin-bottom: 40px;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .login-form {
        display: grid;
        margin: auto;
        .password-spacer {
            margin-bottom: 20px;
        }
        .totp-top-spacer {
            margin-bottom: 50px;
        }
        .totp-bottom-spacer {
            margin-bottom: 20px;
        }
        .rememberMe-spacer {
            margin-bottom: 15px;
        }
        .passwordREset-spacer {
            margin-bottom: 40px;
        }
    }
}
