@import '../../../variables';

.twitter-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
    text-align: left;
    padding-left: 15px;

	display: inline-block;
	border-radius: 3px;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-color: #007aa6;
    background-color: #008cbf;
    &:hover {
        border-color: #007aa6;
        background-color: #0686b4;
    }
    svg {
        display: inline-block;
        vertical-align: middle;
    }
    p {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
    }
}

@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .twitter-btn {
        height: 40px;
        width: 80%;
        text-align: left;
        padding-left: 15px;
    }
}