@import '../../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .links{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
        justify-self: center;
        align-self: center;
        margin: auto;
        .link{
            align-self: center;
            text-align: center;
            width: 100%;
            border: 2px solid;
            border-radius: 20px;
            padding: 5px 0;
            margin: auto;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .links{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
        justify-self: center;
        align-self: center;
        margin: auto;
        .link{
            align-self: center;
            text-align: center;
            width: 80%;
            border: 2px solid;
            border-radius: 20px;
            padding: 5px 0;
            margin: auto;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .links{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
        justify-self: center;
        align-self: center;
        margin: auto;
        .link{
            align-self: center;
            text-align: center;
            width: 100%;
            border: 1.5px solid;
            border-radius: 20px;
            padding: 5px 0;
            margin: auto;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .links{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
        justify-self: center;
        align-self: center;
        margin: auto;
        .link{
            align-self: center;
            text-align: center;
            width: 100%;
            border: 1.5px solid;
            border-radius: 20px;
            padding: 5px 0;
            margin: auto;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .links{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
        justify-self: center;
        align-self: center;
        margin: auto;
        .link{
            align-self: center;
            text-align: center;
            width: 100%;
            border: 1.5px solid;
            border-radius: 20px;
            padding: 5px 0;
            margin: auto;
        }
    }
}
