@import '../../../variables';

/* TV screens */
@media only screen and (min-width: $TV-breakpoint){
    .register-form {
        display: grid;
        margin: auto;
        .username-spacer {
            margin-bottom: 30px;
        }
        .email-spacer {
            margin-bottom: 30px;
        }
        .password-spacer {
            margin-bottom: 30px;
        }
        .password-spacer2 {
            margin-bottom: 20px;
        }
    }
}

/* PC */
@media only screen and (max-width: $PC-max-breakpoint) and (min-width: $PC-min-breakpoint){
    .register-form {
        display: grid;
        margin: auto;
        .username-spacer {
            margin-bottom: 30px;
        }
        .email-spacer {
            margin-bottom: 30px;
        }
        .password-spacer {
            margin-bottom: 30px;
        }
        .password-spacer2 {
            margin-bottom: 20px;
        }
    }
}

/* Laptops */
@media only screen and (max-width: $Laptop-max-breakpoint) and (min-width: $Laptop-min-breakpoint){
    .register-form {
        display: grid;
        margin: auto;
        .username-spacer {
            margin-bottom: 30px;
        }
        .email-spacer {
            margin-bottom: 30px;
        }
        .password-spacer {
            margin-bottom: 30px;
        }
        .password-spacer2 {
            margin-bottom: 20px;
        }
    }
}

/* Tablets */
@media only screen and (max-width: $Tablet-max-breakpoint) and (min-width: $Tablet-min-breakpoint){
    .register-form {
        display: grid;
        margin: auto;
        .username-spacer {
            margin-bottom: 30px;
        }
        .email-spacer {
            margin-bottom: 30px;
        }
        .password-spacer {
            margin-bottom: 30px;
        }
        .password-spacer2 {
            margin-bottom: 20px;
        }
    }
}

/* Mobiles */
@media (max-width: $Mobile-max-breakpoint) and (min-width:$Mobile-min-breakpoint){
    .register-form {
        display: grid;
        margin: auto;
        .username-spacer {
            margin-bottom: 30px;
        }
        .email-spacer {
            margin-bottom: 30px;
        }
        .password-spacer {
            margin-bottom: 30px;
        }
        .password-spacer2 {
            margin-bottom: 20px;
        }
    }
}
