@use '../abstract/fonts' as *;

// Serif
.Merriweather{
    font-family: $Merriweather;
}
.Playfair-Display{
    font-family: $Playfair-Display;
}
.Roboto-Slab{
    font-family: $Roboto-Slab;
}
.Times-New-Roman{
    font-family: $Times-New-Roman;
}
.Georgia{
    font-family: $Georgia;
}

// Sans Serif
.Lato{
    font-family: $Lato;
}
.Open-Sans{
    font-family: $Open-Sans;
}
.Roboto{
    font-family: $Roboto
}
.Open-Dyslexic{
    font-family: $Open-Dyslexic
}
.Arial{
    font-family: $Arial
}
.Helvetica{
    font-family: $Helvetica
}

// Handwriting
.Amatic-SC{
    font-family: $Amatic-SC;
}
.Caveat{
    font-family: $Caveat;
}
.Dancing-Script{
    font-family: $Dancing-Script;
}
.Indie-Flower{
    font-family: $Indie-Flower;
}
.Kalam{
    font-family: $Kalam;
}

// Monotypes
.Inconsolata{
    font-family: $Inconsolata;
}
.Roboto-Mono{
    font-family: $Roboto-Mono;
}
.Source-Code-Pro{
    font-family: $Source-Code-Pro;
}
.Courier-New{
    font-family: $Courier-New
}
.Monaco{
    font-family: $Monaco;
}






// Serif
.Merriweather-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Merriweather;
    }
    
}
.Playfair-Display-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Playfair-Display;
    }
}
.Roboto-Slab-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Roboto-Slab;
    }
}
.Times-New-Roman-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Times-New-Roman;
    }
}
.Georgia-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Georgia;
    }
}

// Sans Serif
.Lato-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Lato;
    }
}
.Open-Sans-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Open-Sans;
    }
}
.Roboto-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Roboto
    }
}
.Open-Dyslexic-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Open-Dyslexic
    }
}
.Arial-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Arial
    }
}
.Helvetica-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Helvetica
    }
}

// Handwriting
.Amatic-SC{
    h1, h2, h3, h4, h5, h6{
        font-family: $Amatic-SC;
    }
}
.Caveat-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Caveat;
    }
}
.Dancing-Script-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Dancing-Script;
    }
}
.Indie-Flower-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Indie-Flower;
    }
}
.Kalam-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Kalam;
    }
}

// Monotypes
.Inconsolata-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Inconsolata;
    }
}
.Roboto-Mono-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Roboto-Mono;
    }
}
.Source-Code-Pro-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Source-Code-Pro;
    }
}
.Courier-New-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Courier-New
    }
}
.Monaco-header{
    h1, h2, h3, h4, h5, h6{
        font-family: $Monaco;
    }
}