@use '../abstract/fonts' as *;

.Merriweather{
    font-family: $Merriweather;
}
.Playfair-Display{
    font-family: $Playfair-Display;
}
.Roboto-Slab{
    font-family: $Roboto-Slab;
}
.Times-New-Roman{
    font-family: $Times-New-Roman;
}
.Georgia{
    font-family: $Georgia;
}


.Lato{
    font-family: $Lato;
}
.Open-Sans{
    font-family: $Open-Sans;
}
.Roboto{
    font-family: $Roboto
}
.Open-Dyslexic{
    font-family: $Open-Dyslexic
}
.Arial{
    font-family: $Arial
}
.Helvetica{
    font-family: $Helvetica
}


.Amatic-SC{
    font-family: $Amatic-SC;
}
.Caveat{
    font-family: $Caveat;
}
.Dancing-Script{
    font-family: $Dancing-Script;
}
.Indie-Flower{
    font-family: $Indie-Flower;
}
.Kalam{
    font-family: $Kalam;
}


.Inconsolata{
    font-family: $Inconsolata;
}
.Roboto-Mono{
    font-family: $Roboto-Mono;
}
.Source-Code-Pro{
    font-family: $Source-Code-Pro;
}
.Courier-New{
    font-family: $Courier-New
}
.Monaco{
    font-family: $Monaco;
}