@use '../abstract/colours' as *;

// These are just used to test the functionality.
// Real styling will be added later
// Could use mixins to call a function but for now I will keep it simple
.Light{
    // Containers
    .body { background-color: $secondary-100; }
    .container { background-color: $secondary-200;}

    // Headers
    .header { color: $secondary-600; }
    .subheader { color: $shades-0; }

    // Inputs
    .line-label { color: $shades-0; }
    .line {
        background-color: transparent;
        color-scheme: light;
        border-bottom-color: $primary-900;
        color: $shades-1000;
    }

    h1, h2, p, label, li {
        color: red;
    }
}

.Dark {
    // Containers
    .body { background-color: $primary-900; }
    .container { background-color: $primary-800; }

    // Headers
    .header { color: $secondary-600; }
    .subheader { color: $shades-0; }

    // Inputs
    .line-label { color: $shades-0; }
    .line {
        background-color: transparent;
        color-scheme: dark;
        border-bottom-color: $secondary-100;
        color: $shades-0;
    }

    // Strong buttons
    .strong-gold-btn {
        background-color: $secondary-700;
        color: $primary-800;
        &:hover{
            background-color: $secondary-800;
            transition: 0.6s;
        }
    }
    .strong-green-btn {
        background-color: $success-500;
        color: $primary-800;
        &:hover{
            background-color: $success-700;
            transition: 0.6s;
        }
    }

    // Weak buttons
    .weak-gold-btn {
        background-color: transparent;
        color: $secondary-100;
        border-color: $secondary-700;
        &:hover {
            background-color: $primary-700;
            transition: 0.6s;
        }
    }

    .weak-green-btn {
        background-color: transparent;
        color: $secondary-100;  
        border-color: $success-700;
        &:hover {
            background-color: $primary-700;
            transition: 0.6s;
        }
    }

    .text { color: $shades-0; }
    .text-link {
        color: $shades-0;
        &:hover {
            color: $primary-200;
        }
        &:active {
            color: $primary-300;
        }
    }


    
    h1, h2, p, label, li {
        color: blue;
    }
}