@use '../abstract/colours' as *;

// These are just used to test the functionality.
// Real styling will be added later
// Could use mixins to call a function but for now I will keep it simple
.light{
    .background{
        background-color: $secondary-50;
    }
    h1, p, label, li {
        color: $primary-900;
    }
}

.dark {
    .background{
        background-color: $primary-900;
    }
    h1, h2, p, label, li {
        color: $secondary-50
    }
}