{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    {% with theme as theme %}
        {% if theme == 'Light' %}
            <link rel="stylesheet" href="{% static 'css/themes/light_theme.css' %}">
        {% elif theme == 'Dark' %}
            <!-- <link rel="stylesheet" href="{% static 'css/themes/dark_theme.css' %}"> -->
        {% endif%}
    {% endwith %}
</head>
<body>
    <div class="main-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="" class="close">x</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>